
/* .card .tenure{
    margin-left: 5rem !important;
} */
/* .card{
    margin: 1rem;
} */
.designation{
    text-align: right;
    box-sizing: border-box;
    transform: translateY(50%);
    margin-right:10%;
    font-weight: 500
}
.designationSqr{
    text-align: right;
    box-sizing: border-box;
    transform: translateY(200%);
    margin-right: 10%;
    font-weight: 500

}
.companyName {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .logostyle1{
      width: 100px !important;
      margin:10px 20px !important;
  }
  .borderClass{
      margin: 0 !important;
  }